<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <title>博客管理</title>
</head>
<body>
    <!------------------------------导航---------------------------------------->
    <nav th:replace="admin/_fragments :: menu(1)"></nav>
    <!------------------------------------中间部分---------------- ---------------->
    <div class="m-container-big m-padded-tb-large">
        <div class="ui container">
            <!----------------查询------------------->
            <div class="ui basic segment form">
                <input type="hidden" name="page" value=""> <!--for search-->
                <div class="inline fields">
                    <div class="field" style="margin-right: 1em !important">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field" style="margin-right: 1em !important">
                        <div class="ui labeled action input">
                            <div class="ui type-content selection dropdown">
                                <input type="hidden" name="typeId">
                                <i class="dropdown icon"></i>
                                <div class="ui default text">分类</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}"
                                         th:text="${type.name}">错误
                                    </div>
                                </div>
                            </div>
                            <button id="clear-btn" class="ui basic button"><b>Clear</b></button>
                        </div>
                    </div>
                    <div class="filed" style="margin-right: 2em !important">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="recommend" name="recommend" tabindex="0" class="hidden">
                            <label for="recommend"><b>推荐</b></label>
                        </div>
                    </div>
                    <div class="filed">
                        <button type="button" id="search-btn" class="ui small teal basic button">
                            <i class="search icon"></i><b>搜索</b>
                        </button>
                    </div>
                    <div class="filed">
                        <a th:href="@{/admin/blogs/input}" class="ui small teal basic button" style="margin-left: 2em!important">
                            <i class="plus icon"></i><b>发布博客</b>
                        </a>
                    </div>
                </div>
            </div>
            <!----------------提示------------------->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜：操作成功！</p>
            </div>
            <!----------------表格------------------->
            <div id="table-container" class="">
                <table th:fragment="blogList" class="ui teal compact padded table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>分类</th>
                        <th>标签</th>
                        <th>推荐</th>
                        <th>是否原创</th>
                        <th>博客状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog : ${page.content}" th:class="${blogStat.odd}? 'odd'">
                        <td>
                            <h4 th:text="${blogStat.count + page.number*page.size}" class="ui center aligned header">1</h4>
                        </td>
                        <td th:text="${blog.title}">刻意练习清单</td>
                        <td th:text="${blog.type.name}">认知升级</td>
                        <td th:each="tag : ${blog.tags}">
                            <div th:text="${tag.name}"></div>
                        </td>
                        <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                        <td th:text="${blog.flag}">原创</td>
                        <td th:text="${blog.published} ? '发布' : '草稿'">发布</td>
                        <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2020-02-06 20:23:23</td>
                        <td>
                            <a th:href="@{/admin/blogs/input/{id}(id=${blog.id})}"
                               class="ui mini teal basic button">
                                <b style="font-family: 'Andale Mono'">Edit</b>
                            </a>
                            <a th:href="@{/admin/blogs/delete/{id}(id=${blog.id})}"
                               class="ui mini negative basic button">
                                <b style="font-family: 'Andale Mono'">Delete</b>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr th:if="${page.totalPages}>1" style="height: 1em!important">
                        <th colspan="10" class="m-transparent">
                            <a href="javascript:void(0);" onclick="page(this);" th:attr="date-page=${page.number}-1"
                               th:if="!${page.isFirst()}" class="ui tiny teal basic button"> 上一页 </a>
                            <a href="javascript:void(0);" onclick="page(this);" th:attr="date-page=${page.number}+1"
                               th:if="!${page.isLast()}" class="ui tiny teal basic button"> 下一页 </a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <script>
        $(".ui.dropdown").dropdown();

        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.checkbox')
            .checkbox()
        ;
        function loaddata() {
            $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
                title: $("[name='title']").val(),
                typeId: $("[name='typeId']").val(),
                recommend: $("[name='recommend']").prop('checked'),
                page: $("[name='page']").val()
            });
        }
        function page(obj) {
            $("[name='page']").val($(obj).attr("date-page"));
            loaddata();
        }
        $("#search-btn").click(function () {
            $("[name='page']").val(0);
            loaddata();
        });
        $('#clear-btn').click(function () {
            $('.ui.type-content.dropdown').dropdown('clear');
        });
        //消息提示关闭
        $('.message').click(function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    </script>
</body>
</html>