<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     <!--移动端缩放比例1.0-->
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!------------------------------导航---------------------------------------->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="small home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
            <div class="right m-item item m-mobile-hide">
                <div class="right menu">
                    <div class="ui dropdown item">
                        <img src="https://picsum.photos/id/345/100/100" alt="" class="ui avatar image" style="margin-right: 1.5em">
                        <div class="text"  style="margin-right: 0.5em">流韵</div>
                        <i class="dropdown icon"></i>
                        <div class="menu m-margin-top">
                            <div class="item" data-value="0">注销</div>
                            <div class="item" data-value="1">Another Value</div>
                            <div class="item" data-value="default">Default Value</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="teal active item">列表</a>
        </div>
    </div>
</div>
<!------------------------------------中间部分---------------- ---------------->
<div class="m-container-small m-padded-tb-large">
    <div class="ui container">
        <!----------------查询----------------------->
        <form action="#" class="ui segment form" method="post">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="ui default text">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1">错误</div>
                            <div class="item" data-value="2">错误</div>
                            <div class="item" data-value="3">错误</div>
                        </div>
                    </div>
                </div>
                <div class="filed" style="margin-right: 1em !important">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="filed">
                    <button class="ui mini teal basic button">
                        <i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </form>
        <!-------------------表格--------------------->
        <table class="ui celled padded table">
            <thead>
                <tr>
                    <th class="single line">#</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <h4 class="ui center aligned header">1</h4>
                </td>
                <td class="">刻意练习清单</td>
                <td class="">认知升级</td>
                <td class="">是</td>
                <td class="">2019-12-25 20:23</td>
                <td>
                    <a href="#" class="ui mini basic teal button">编辑</a>
                    <a href="#" class="ui mini basic red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6" class="">
                        <div class="ui small pagination menu">
                            <a href="#" class="mini item">上一页</a>
                            <a href="#" class="mini item">下一页</a>
                        </div>
                        <a href="#" class="ui right floated circular blue basic icon button">
                            <i class="plus icon"></i>
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>