<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <title>后台管理</title>
</head>
<body>
    <!------------------------------导航---------------------------------------->
    <nav th:replace="admin/_fragments :: menu(0)"></nav>
    <!------------------------------------中间部分---------------- ---------------->
    <div class="m-container-small m-padded-tb-large">
        <div class="ui container">
            <div class="ui success large message">
                <h3>Hi,</h3>
                <p th:text="|${session.user.nickname}，欢迎登录！|"></p>
            </div>
            <img src="https://picsum.photos/id/213/950/560" alt="" class="ui rounded bordered fluid image">
        </div>
    </div>

    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->
</body>
</html>