<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <title>标签管理</title>
</head>
<body>
    <!------------------------------导航---------------------------------------->
    <nav th:replace="admin/_fragments :: menu(3)"></nav>
    <!------------------------------------中间部分---------------- ---------------->
    <div class="m-container-small m-padded-tb-massive">
        <!------------标签表格展示------------>
        <div id="table-container" class="">
            <table class="ui orange compact very padded table">
                <thead>
                <tr>
                    <th></th>
                    <th>标签名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pageTag : ${page.content}" th:class="${pageTagStat.odd}? 'odd'">
                    <td>
                        <h4 th:text="${pageTagStat.count + page.number*page.size}" class="ui center aligned header">1</h4>
                    </td>
                    <td th:text="${pageTag.name}">标签名称</td>
                    <td>
                        <a th:href="@{/admin/tags/input/{id}(id=${pageTag.id})}"
                           class="ui mini teal basic button">
                            <b style="font-family: 'Andale Mono'">Edit</b>
                        </a>
                        <a th:href="@{/admin/tags/delete/{id}(id=${pageTag.id})}"
                           class="ui mini negative basic button">
                            <b style="font-family: 'Andale Mono'">Delete</b>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr th:if="${page.totalPages}>1" style="height: 1em!important">
                    <th colspan="10" class="m-transparent">
                        <a href="javascript:void(0);" onclick="page(this);" th:attr="date-page=${page.number}-1"
                           th:if="!${page.isFirst()}" class="ui tiny teal basic button"> 上一页 </a>
                        <a href="javascript:void(0);" onclick="page(this);" th:attr="date-page=${page.number}+1"
                           th:if="!${page.isLast()}" class="ui tiny teal basic button"> 下一页 </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <!--------------提示-------------->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜：操作成功！</p>
        </div>
        <!-------------翻页、Add-------------->
        <div style="width: 20em;height: 2em;margin: 100px 0 0 600px;!important">
            <a th:href="@{/admin/tags(page=${page.number}-1)}"
               th:if="!${page.isFirst()}" class="ui blue basic button m-margin-small"> 上一页 </a>

            <a th:href="@{/admin/tags(page=${page.number}+1)}"
               th:if="!${page.isLast()}" class="ui blue basic button m-margin-small"> 下一页 </a>

            <a th:href="@{/admin/tags/input}" class="ui blue basic button m-margin-small">
                <b style="font-family: 'Andale Mono'"> Add </b>
            </a>
        </div>
    </div>

    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <script>
        //消息提示关闭
        $('.message').click(function () {
            $(this)
                .closest('.message')
                .transition({
                animation: 'fade',
                // duration: '1s'
            })
        });

        $('.tag-btn').popup({
            popup: $('.tag-float'),
            on: 'click',
            position: 'bottom center'
        });
    </script>
</body>
</html>