<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <title>分类管理</title>
</head>
<body>
    <!------------------------------导航---------------------------------------->
    <nav th:replace="admin/_fragments :: menu(2)"></nav>
    <!-------------Add-------------->
    <a th:href="@{/admin/types/input}" class="ui blue basic right floated icon circular button m-margin-top-large m-margin-right-large">
        <!--<b style="font-family: 'Andale Mono'"> Add </b>-->
        <i class="plus icon"></i>
    </a>
    <!------------------------------------中间部分---------------- ---------------->
    <div class="m-container-small m-padded-tb-massive">
        <!------------分类表格展示------------>
        <div id="table-container" class="">
            <table class="ui single line very basic table tablesorter">
                <thead>
                <tr>
                    <th class="ui center aligned">#</th>
                    <th>分类名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pageType : ${page.list}" th:class="${pageTypeStat.odd}? 'odd'">
                    <td>
                        <h4 th:text="${pageTypeStat.count + page.prePage*page.pageSize}" class="ui center aligned header">1</h4>
                    </td>
                    <td th:text="${pageType.name}">分类名称</td>
                    <td>
                        <a th:href="@{/admin/types/input/{id}(id=${pageType.id})}"
                           class="ui mini teal basic button">
                            <b style="font-family: 'Andale Mono'">Edit</b>
                        </a>
                        <a th:href="@{/admin/types/delete/{id}(id=${pageType.id})}"
                           class="ui mini negative basic button">
                            <b style="font-family: 'Andale Mono'">Delete</b>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--------------提示-------------->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜：操作成功！</p>
        </div>
        <!-------------翻页-------------->
        <div style="width: 20em;height: 2em;margin: 100px 0 0 600px;!important">
            <a th:href="@{/admin/types(page=${page.pageNum}-1)}"
               th:if="!${page.isIsFirstPage()}" class="ui blue basic button m-margin-small"> 上一页 </a>

            <a th:href="@{/admin/types(page=${page.pageNum}+1)}"
               th:if="!${page.isIsLastPage()}" class="ui blue basic button m-margin-small"> 下一页 </a>
        </div>
    </div>

    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <script th:src="@{/lib/tablesortor/jquery.tablesorter.js}"></script>
    <script>
        //消息提示关闭
        $('.message').click(function () {
            $(this).closest('.message').transition({
                animation: 'fade',
                // duration: '1s'
            })
        });

       $('.type-btn').popup({
           popup: $('.type-float'),
           on: 'click',
           position: 'bottom center'
       });

       $(document).ready(function () {
           $(".tablesorter").tablesorter();
       });
    </script>
</body>
</html>