<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <title>分类管理</title>
</head>
<body>
    <!------------------------------导航---------------------------------------->
    <nav th:replace="admin/_fragments :: menu(2)"></nav>
    <!------------------------------------中间部分---------------- ---------------->
    <div class="m-container-small m-padded-tb-massive">
        <!------------分类展示------------>
        <div class="ui container">
            <a th:each="pageType : ${page.content}">
                <h2 class="ui teal header m-words-display type-btn" th:text="${pageType.name}"></h2>
                <div class="ui popup hidden m-transparent type-float">
                    <a th:href="@{/admin/types/input/{id}(id=${pageType.id})}" class="ui mini teal basic button">
                        <b style="font-family: 'Andale Mono'"> 修改 </b>
                    </a>
                    <a th:href="@{/admin/types/delete/{id}(id=${pageType.id})}" class="ui mini negative basic button">
                        <b style="font-family: 'Andale Mono'"> 删除 </b>
                    </a>
                </div>
            </a>
        </div>
        <!--------------提示-------------->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜：操作成功！</p>
        </div>
        <!-------------翻页、Add-------------->
        <div style="width: 20em;height: 2em;margin: 100px 0 0 600px;!important">
            <a th:href="@{/admin/types(page=${page.number}-1)}"
               th:if="!${page.isFirst()}" class="ui blue basic button m-margin-small"> 上一页 </a>

            <a th:href="@{/admin/types(page=${page.number}+1)}"
               th:if="!${page.isLast()}" class="ui blue basic button m-margin-small"> 下一页 </a>

            <a th:href="@{/admin/types/input}" class="ui blue basic button m-margin-small">
                <b style="font-family: 'Andale Mono'"> Add </b>
            </a>
        </div>
    </div>

    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <script>
       //消息提示关闭
        $('.message').click(function () {
            $(this).closest('.message').transition({
                animation: 'fade',
                // duration: '1s'
            })
        });

       $('.type-btn').popup({
           popup: $('.type-float'),
           on: 'click',
           position: 'bottom center'
       });
    </script>
</body>
</html>