<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <title>404</title>
</head>
<body>
    <!------------------------导航------------------------------>
    <nav th:replace="_fragments :: menu(0)"></nav>

    <div class="m-container-small" style="padding-top: 10em;padding-bottom: 12em">
        <div class="ui error message m-padded-tb">
            <div class="ui container m-padded-tb">
                <h2>404</h2>
                <p>对不起，您访问的页面不存在</p>
            </div>
        </div>
    </div>

<!--    <footer th:replace="_fragments :: footer"></footer>-->
</body>
</html>