<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <title>错误</title>
</head>
<body>

    <!------------------------------导航---------------------------------------->
    <nav th:replace="_fragments :: menu(0)"></nav>

    <div class="m-container-small" style="padding-top: 10em;padding-bottom: 12em">
        <div class="ui error message m-padded-tb">
            <div class="ui container m-padded-tb">
                <h2>错误</h2>
                <p>系统错误或网络问题</p>
            </div>
        </div>
    </div>

    <!--    <footer th:replace="_fragments :: footer"></footer>-->


    <!-----页面源代码查看报错信息------>
    <div>
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
        <div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
        <ul th:remove="tag">
            <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>
    </div>
</body>
</html>