body{
    background-image: url("../images/background_images/leaves.png");
}
/*--------------------padding-----------------------------*/
.m-padded-mini{
    padding: 0.2em !important;
}
.m-padded-tiny{
    padding: 0.3em !important;
}
.m-padded {
    padding: 1em !important;
}

.m-padded-top {
    padding-top: 1em !important;
}
.m-padded-top-large {
    padding-top: 2em !important;
}

.m-padded-nav {
    padding: 1.8em 0 0 2em !important;
}

.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding: 1.5em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-tb-largest {
    padding-top: 12em !important;
    padding-bottom: 12em !important;
}

.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;;
}

/*--------------------------margin------------------------------*/
.m-margin {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.m-margin-1 {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
}

.m-margin-small {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}

.m-margin-tiny {
    margin: 0.4em 0.9em 0.3em 0.5em !important;
}

.m-margin-top-small {
    margin-top: 0.5em !important;
}

.m-margin-top {
    margin-top: 1em !important;
}

.m-margin-top-big {
    margin-top: 1.5em !important;;
}
.m-margin-top-large{
    margin-top: 2em !important;;
}
.m-margin-top-largest{
    margin-top: 4em !important;;
}
.m-margin-tb-tiny{
    margin-top: 0.4em !important;
    margin-bottom: 0.4em !important;
}
.m-margin-tb{
    margin-top: 0.6em !important;
    margin-bottom: 0.6em !important;
}
.m-margin-tb-forSearch{
    margin-top: 1em !important;
    margin-bottom: 3em !important;
}

.m-margin-button-small{
    margin-bottom: 0.5em !important;
}

.m-margin-button-mini {
    margin-bottom: 0.4em !important;
}
.m-margin-button-s {
    margin-bottom: 25px !important;
}
.m-margin-button {
    margin-bottom: 40px !important;
}

.m-margin-left {
    margin-left: 0.5em !important;
}
.m-margin-left-big {
    margin-left: 10px !important;
}
.m-margin-lr{
    margin-left: 20px!important;
    margin-right: 20px!important;
}
.m-margin-right-small {
    margin-right: 0.3em !important;
}
.m-margin-right{
    margin-right: 0.5em!important;
}
.m-margin-right-big{
    margin-right: 1em!important;
}
.m-margin-right-large{
    margin-right: 2em !important;;
}
/*--------------------------text-------------------------*/
.m-text{
    font-width: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}
.m-text-thin {
    font-width: 300 !important;
}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8 !important;
}
/*----------------------display-------------------------------*/
.m-mobile-show{
    display: none !important;
}

.vertical-display{
    /*writing-mode: vertical-lr!important;*/
    /*writing-mode: tb-rl;*/
    overflow: hidden!important;
    width: 48px!important;
    line-height: 15.5px!important;
    font-size: 14px!important;
    /*color: red!important;*/
    letter-spacing: 1px!important;  /*增加字符间距离,允许使用负值*/
}
/*----------手机端响应-----------*/
@media screen and (max-width: 786px){
   .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-responsive{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-margin-button-small{
        width: 100% !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
    .m-mobile-lr-clear{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
/*-----------opacity----------*/
.m-opacity{
    opacity: 0.9 !important;
}
.m-opacity-mini{
    opacity: 0.8 !important;
}

.m-opacity-tiny {
    opacity: 0.6 !important;
}

.m-transparent {
    background-color: rgba(255, 255, 255, 0) !important /*最后一个参数设置透明度，前面三个是RGB颜色值*/
}
/*----------shadow-------------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}
/*------------block------------*/
.m-inline-block{
    display: inline-block !important;
}
.m-words-display{
    margin: 0em 1em 2em 1em !important;
    display: inline-block !important;
}
/*-------container----------*/
.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}
.m-container{
    max-width: 70em !important;
    margin: auto !important;
}
.m-container-big{
    max-width: 80em !important;
    margin: auto !important;
}
.m-container-large{
    max-width: 100em !important;
    margin: auto !important;
}
.m-container-largest{
    max-width: 160em !important;
    margin: auto !important;
}
.m-container-ninety{
    width: 90% !important;
    display: block!important;
}
.m-container-ninety-five{
    width: 95% !important;
    display: block!important;
}
.m-container-full{
    width: 100% !important;
    display: block!important;
}
/*--------------------------color-----------------------------*/
.m-black{
    color: #333 !important;
}
.m-teal{
    color: #00B5AD !important;
}
.m-blue{
    color: #4183C4 !important;
}
.m-blue-l{
    color: #0e90d2 !important;
}
.m-grey{
    color: rgba(0,0,0,.4);
}
/*--------------------------position-----------------------------*/
.m-right-top{
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
}

.m-right-bottom{
    right: 2em !important;
    bottom: 2em !important;
}

.m-fixed{
    z-index: 10 !important;
    position: fixed !important;
}
