<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{:: title})">
    <title>关于我</title>
</head>
<body>
<!-----------------------------导航----------------------------------->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!----------------------------中间部分---------------- ---------------->
<div class="m-padded-tb-big animated fadeIn">
    <div class="ui container m-container-ninety">
        <div class="ui stackable grid">
            <!-----左侧图片----->
            <div class="ten wide column" style="width: 75%!important">
                <img src="https://picsum.photos/id/259/1000/500" alt="" class="ui rounded image">
            </div>
            <!------右侧信息--------->
            <div class="right floated four wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <!------自我介绍------>
                <div class="ui attached segment">
                    <p class="m-text" style="font-weight: 300;!important">
                        迎至吾之博客，遇即是缘！<br/>
                        吾为编程界之一小白，产于生年，<br/>
                        受业于四川师范大学软件工程系。<br/>
                        为一大二门人，见左右皆然则良，<br/>
                        遂欲寻事为之。<br/>
                        偶，览于一人之博客，<br/>
                        甚慕，作博客也渐化为行。<br/>
                        乃吾之博客生矣！<br/>
                        然多用不遂，观亦亟待益。<br/>
                        又勉之！若有暇，以览吾之博客矣！<br/>
                    </p>
                </div>
                <!------技术学习------>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">Git</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">MySQL</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">Java</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">SpringBoot</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">Thymeleaf</div>
                </div>

                <div class="ui bottom attached segment">
                    <!----------GitHub---------->
                    <a href="https://github.com/Tbthr" class="ui circular icon button" style="margin-right: 0.5em">
                        <i class="github icon"></i>
                    </a>
                    <!----------WeChat---------->
                    <button id="wechatButton" class="ui wecaht circular icon button" style="margin-right: 0.5em">
                        <i class="weixin icon"></i>
                    </button>
                    <div class="ui wechatQR flowing popup transition hidden">
                        <div class="ui column divided center aligned grid">
                            <div class="column">
                                <div class="image">
                                    <img src="../static/images/Wechat.png" th:src="@{/images/Wechat.png}" class="ui rounded bordered image" style="width: 125px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------QQ---------->
                    <button id="qqButton" class="ui qq circular icon button" style="margin-right: 0.5em">
                        <i class="qq icon"></i>
                    </button>
                    <div class="ui qqQR flowing popup transition hidden">
                        <div class="ui column divided center aligned grid">
                            <div class="column">
                                <div class="image">
                                    <img src="../static/images/QQ.jpg" th:src="@{/images/QQ.jpg}" class="ui rounded bordered image" style="width: 125px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------底部footer-------------------------------->

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-show')
    });
    $('#wechatButton').popup({
        popup: $('.wechatQR.popup'),
        on: 'click',
        position: 'bottom center'
    });
    $('#qqButton').popup({
        popup: $('.qqQR.popup'),
        on: 'click',
        position: 'bottom center'
    })
</script>
</body>
</html>