<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{:: title})">
    <title>关于我</title>
</head>
<body>
<!-----------------------------导航----------------------------------->
<nav th:replace="_fragments :: menu(6)"></nav>
<!----------------------------中间部分---------------- ---------------->
<div class="m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <!-----左侧图片----->
            <div class="twelve wide column">
                <img src="https://picsum.photos/id/259/850/515" alt="" class="ui rounded image">
            </div>
            <!------右侧信息--------->
            <div class="four wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <!------自我介绍------>
                <div class="ui attached segment">
                    <p class="m-text" style="font-weight: 300;!important">
                        迎至吾之博客，遇即是缘！<br/>
                        吾为编程界之一小白，产于生年，<br/>
                        受业于四川师范大学软件工程系。<br/>
                        为一大二门人，见左右皆然则良，<br/>
                        遂欲寻事为之。<br/>
                        偶，览于一人之博客，<br/>
                        甚慕，作博客也渐化为行。<br/>
                        乃吾之博客生矣！<br/>
                        然多用不遂，观亦亟待益。<br/>
                        又勉之！<br/>
                        若有暇，以览吾之博客矣！<br/>
                    </p>
                </div>
                <!------技术学习------>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">Git</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">MySQL</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">Java</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">SpringBoot</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny m-margin-right-big">Thymeleaf</div>
                </div>

                <div class="ui bottom attached segment">
               <p style="font-family: 楷体;font-weight: 600;font-size: medium;!important;">页面待完善......</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------底部footer-------------------------------->

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
</body>
</html>