<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{:: title})">
    <title>归档</title>
</head>
<body>
<!------------------------------导航------------------------------------>
<nav th:replace="_fragments :: menu(4)"></nav>
<!----------------------------中间部分---------------- ---------------->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <!----------------header----------------------->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogsCount}">66</h2> 篇
                </div>
            </div>
        </div>
        <!----------------年份------------------>
        <th:block th:each="item : ${archiveMap}">
            <h2 class="ui center aligned header" th:text="${item.key}">2018</h2>
            <div class="ui fluid vertical menu">
                <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
                <span>
                    <i class="mini teal circle icon"></i>
                    <span style="margin-left: 1em;margin-right: 0.3em" th:text="${blog.title}">SpringBoot 前台页面get不到js,css文件</span>
                    <div class="ui teal basic left pointing label m-padded-mini"
                         th:text="${#dates.format(blog.updateTime,'MMMdd')}">八月23</div>
                </span>
                    <div class="ui orange basic label m-padded-mini" th:text="${blog.flag}">转载</div>
                </a>
            </div>
        </th:block>
    </div>
</div>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
</body>
</html>