<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{:: title})">
    <title th:text="${blog.title}">博客正文</title>
</head>
<body>
<!------------------------------导航---------------------------------------->
<nav th:replace="_fragments :: menu(0)"></nav>
<!------------------------------------中间部分---------------- ---------------->
<div id="waypoint" class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <!-------头部------>
        <div class="ui top attached segment">
            <div class="ui relaxed horizontal list">
                <div class="item">
                    <img th:src="@{${blog.user.avatar}}" src="https://picsum.photos/id/666/200/200"
                         class="ui avatar image">
                    <div class="content m-opacity-mini" th:text="${blog.user.nickname}"></div>
                </div>
                <div class="item">
                    <i class="calendar check outline icon m-opacity-tiny"></i>
                    <span class="m-opacity-mini" th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                </div>
                <div class="item">
                    <i class="eye icon small m-opacity-tiny"></i>
                    <span class="m-opacity-mini" th:text="${blog.views}"></span>
                </div>
            </div>
        </div>
        <!-------图片区域------>
        <div class="ui attached segment">
            <img th:src="@{${blog.bigPicture}}" src="http://pic.yupoo.com/weikisa/19f4b025/2e1a444b.png" alt=""
                 class="ui fluid rounded image">
        </div>
        <!-------文章部分------>
        <div class="ui attached padded segment">
            <!---原创 or 转载---->
            <div class="ui left m-inline-block aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
            </div>
            <!---正文---->
            <h2 class="ui center aligned header" th:text="${blog.title}">Docker的常用基本命令</h2>
            <div id="content" th:utext="${blog.content}"
                 class="js-toc-content typo typo-selection m-padded-lr-responsive m-padded-tb-large">
            </div>
            <!---标签---->
            <div class="m-padded-lr-responsive" th:if="${#arrays.length(blog.tags)}>0">
                <div class="m-inline-block content" th:each="tag : ${blog.tags}">
                    <a class="ui left pointing teal basic label" th:text="${tag.name}">数据结构</a>
                </div>
            </div>
            <!---打赏---->
            <div th:if="${blog.appreciation}">
                <div class="ui center aligned basic segment">
                    <button id="payButton" class="ui basic orange circular button">赞赏</button>
                </div>
                <div class="ui payQR flowing popup transition hidden">
                    <div class="ui two column divided center aligned grid">
                        <div class="column">
                            <div class="image">
                                <img src="../static/images/fine-3.gif" th:src="@{/images/zhifubaoPay.jpg}" alt=""
                                     class="ui rounded bordered image" style="width: 180px!important;">
                            </div>
                        </div>
                        <div class="column">
                            <div class="image">
                                <img src="../static/images/fine-3.gif" th:src="@{/images/wechatPay.png}" alt=""
                                     class="ui rounded bordered image" style="width: 180px!important;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-------博客信息------>
        <div class="ui positive attached message" th:if="${blog.shareStatement}" style="height: 130px!important">
            <div class="ui middle aligned grid" style="margin-top: -1rem;!important">
                <div class="eleven wide column">
                    <ul class="list">
                        <li>本文作者：<span th:text="${blog.user.nickname}">刘以强</span></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}"></span></li>
                        <li>转载请署名作者且注明文章出处</li>
                    </ul>
                </div>
                <div class="five wide column">
                    <img src="../static/images/Wechat.png" th:src="@{/images/Wechat.png}" alt=""
                         class="ui right floated rounded bordered image"
                         style="width: 100px">
                </div>
            </div>
        </div>
        <!-------评论------>
        <div class="ui bottom attached segment" th:if="${blog.commentable}">
            <div id="comment-container" class="ui teal segment">
                <!-------评论展示------>
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100% !important">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar"><img th:src="@{${comment.avatar}}"></a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${comment.nickname}">Matt</span>
                                    <div th:if="${comment.adminComment}"
                                         class="ui tiny teal basic left pointing label m-padded-tiny">博主
                                    </div>
                                </a>
                                <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm:ss')}">今天下午 5:42</span>
                                </div>
                                <div class="text" th:text="${comment.content}">太赞了！</div>
                                <div class="actions">
                                    <a th:attr="data-commentid=${comment.id} ,data-commentnickname=${comment.nickname}"
                                       data-commentid="1" data-commentnickname="Mi" onclick="reply(this)"
                                       class="reply">回复</a>
                                </div>
                            </div>
                            <!------子类评论------>
                            <div class="comments" th:if="${#arrays.length(comment.replayComments)>0}">
                                <div class="comment" th:each="reply : ${comment.replayComments}">
                                    <a class="avatar"><img th:src="@{${reply.avatar}}"></a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}">Matt</span>
                                            <div th:if="${reply.adminComment}"
                                                 class="ui tiny teal basic left pointing label m-padded-tiny">博主
                                            </div>
                                            <span th:text="| @ ${reply.parentComment.nickname}|"
                                                  class="m-teal">@Matt</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date"
                                                  th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm:ss')}">今天下午 5:42</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">太赞了！</div>
                                        <div class="actions">
                                            <a th:attr="data-commentid=${reply.id} ,data-commentnickname=${reply.nickname}"
                                               data-commentid="1" data-commentnickname="Mi" onclick="reply(this)"
                                               class="reply">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-------评论输入------>
            <div id="comment-form" class="ui form">
                <input type="hidden" name="blogId" th:value="${blog.id}">
                <input type="hidden" name="parentCommentId" value="-1">
                <div class="field">
                    <textarea name="content" id="" cols="30" rows="10" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide m-margin-button-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="姓名"
                                   th:value="${session.user}!=null ? ${session.user.nickname}">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-button-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱"
                                   th:value="${session.user}!=null ? ${session.user.email}">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-button-small">
                        <button id="comment-submit" type="button" class="ui teal m-mobile-wide button">
                            <i class="edit icon"></i>发布
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--small menu-->
<div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none;!important;">
    <div class="ui vertical icon buttons">
        <button class="ui teal button toc vertical-display">目录</button>
        <a href="#comment-container" class="ui teal button vertical-display">留言</a>
        <button class="ui wecaht icon button"><i class="weixin icon"></i></button>
        <div id="toTop-button" class="ui button"><i class="chevron up icon"></i></div>
    </div>
    <!--目录生成的位置-->
    <div class="ui toc-container flowing popup transition hidden">
        <ol class="js-toc" style="width: 250px;!important;"></ol>
    </div>
</div>

<!--文章二维码-->
<div id="qrcode" class="ui wechat-qr flowing popup transition hidden" style="width: 130px !important">
    <!--<img src="./static/images/Wechat.png" alt="" class="ui rounded image" style="width: 120px !important">-->
</div>
<br>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script> <!--代码高亮-->
<script src="../static/lib/tocbot/tocbot.js" th:src="@{/lib/tocbot/tocbot.js}"></script> <!--目录生成-->
<script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script> <!--二维码生成-->
<script src="../static/lib/jquery.scrollTo/jquery.scrollTo.min.js"
        th:src="@{/lib/jquery.scrollTo/jquery.scrollTo.min.js}"></script> <!--平滑滚动-->
<script src="../static/lib/Waypoints/jquery.waypoints.min.js"
        th:src="@{/lib/Waypoints/jquery.waypoints.min.js}"></script><!--滚动侦测-->
<script th:inline="javascript">
    // small menu 根据滑动 显示or隐藏
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction === 'down') {
                $('#toolbar').show(500);
            } else {
                $('#toolbar').hide(500);
            }
        }
    });

    // 支付二维码
    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });

    // 目录
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3'
    });
    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });

    // 文章二维码生成
    const serurl = /*[[#{blog.serurl}]]*/"119.3.183.202";
    const url =/*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    const qrcode = new QRCode("qrcode", {
        text: serurl + url,
        width: 120,
        height: 120,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
    $('.wecaht').popup({
        popup: $('.wechat-qr'),
        position: 'left center'
    });

    // back to top
    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 666);
    });

    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }]
            },
            nickname: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的名字'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请输入正确的邮箱地址'
                }]
            }
        }
    });

    $('#comment-submit').click(function () {
        const boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postComments();
        } else {
            console.log('校验失败');
        }
    });

    //
    // $(function () {
    //     $('#comment-container').load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"");
    // });

    function postComments() {
        $("#comment-container").load(/*[[@{/comments}]]*/"", {
            "parentCommentId": $("[name='parentCommentId']").val(),
            "blogId": $("[name='blogId']").val(),
            "nickname": $("[name='nickname']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val()
        }, function (responseTxt, statusTxt, xhr) {
            // $(window).scrollTo($('#comment-container'), 500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='parentCommentId']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
        $("[name='parentCommentId']").val(commentId);
        $(window).scrollTo($('#comment-form'), 500);
    }
</script>
</body>
</html>