<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{:: title})">
    <title>首页</title>
</head>
<body>
<!------------------------------导航---------------------------------------->
<nav th:replace="_fragments :: menu(1)"></nav>
<!------------------------------------中间部分---------------- ---------------->
<div class="m-padded-tb-big">
    <div class="ui stackable this container m-container-ninety">
        <div class="ui stackable grid">
            <!---个人简介、语录--->
            <div class="three wide column">
                <div class="ui link card">
                    <div class="image">
                        <img th:src="@{/images/index_avatar/index_avatar5.jpeg}">
                    </div>
                    <div class="content">
                        <a class="header" th:href="@{/about}">刘以强</a>
                        <div class="meta">
                            <a style="">Java程序员、乐观主义者</a>
                        </div>
                        <div class=" description m-padded" style="font-family: 楷体;font-weight: 800 ;!important;">
                            唯有你也想见我，<br>
                            我们的见面才有意义。
                        </div>
                    </div>
                    <div class="extra content">
                        <!----------GitHub---------->
                        <a href="https://github.com/Tbthr" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
                        <!----------CSDN---------->
                        <a href="https://blog.csdn.net/a1598622578" target="_blank" class="ui circular icon button"><i class="cuttlefish icon"></i></a>
                        <!----------WeChat---------->
                        <button id="wechatButton" class="ui wecaht circular icon button" style="margin-right: 0.5em">
                            <i class="weixin icon"></i>
                        </button>
                        <div class="ui wechatQR flowing popup transition hidden">
                            <div class="ui column divided center aligned grid">
                                <div class="column">
                                    <div class="image">
                                        <img src="../static/images/Wechat.png" th:src="@{/images/Wechat.png}" class="ui rounded bordered image" style="width: 116px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----------QQ---------->
                        <button id="qqButton" class="ui qq circular icon button" style="margin-right: 0.5em">
                            <i class="qq icon"></i>
                        </button>
                        <div class="ui qqQR flowing popup transition hidden">
                            <div class="ui column divided center aligned grid">
                                <div class="column">
                                    <div class="image">
                                        <img src="../static/images/QQ.jpg" th:src="@{/images/QQ.jpg}" class="ui rounded bordered image" style="width: 150px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----博客列表----->
            <div class="ten wide column">
                <!----------------header----------------------->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">&nbsp;16&nbsp;</h2>篇
                        </div>
                    </div>
                </div>
                <!-----------------content------------------------>
                <div class="ui top teal attached horizontal segment">
                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header"><a href="#" target="_blank" class="m-black" th:href="@{blog/{id}(id=${blog.id})}" th:text="${blog.title}">认识Docker的底层原理</a></h3>
                                <p class="m-text mini" th:text="|${blog.description}......|">提到虚拟化技术，我们首先想到的一定是 Docker，经过四年的快速发展 Docker 已经成为了很多公司的生产环境中大规模使用，也不再是一个只能在开发阶段使用的玩具了。作为在生产环境中广泛应用的产品，Docker 有着非常成熟的社区以及大量的使用者，代码库中的内容也变得非常庞大。......</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui small horizontal link list">
                                            <div class="item">
                                                <img th:src="@{${blog.user.avatar}}" src="https://picsum.photos/seed/picsum/100/100" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <h5 class="ui header m-opacity-mini" th:text="${blog.user.nickname}">LYQ</h5>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="fa fa-calendar-check-o"></i>
                                                <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2019-12-23</span>
                                            </div>
                                            <div class="item">
                                                <i class="fa fa-eye"></i>
                                                <span th:text="${blog.views}">6666</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="right aligned five wide column">
                                        <a th:href="@{/types/{id}(id=${blog.type.id})}" target="_blank" class="ui teal basic label m-padded-mini m-text-thin" th:text="${blog.type.name}">数据结构</a>
                                    </div>
                                </div>
                            </div>

                            <div class="ui five wide column">
                                <a href="#" th:href="@{blog/{id}(id=${blog.id})}" target="_blank" class="top">
                                    <img th:src="@{${blog.firstPicture}}" src="http://pic.yupoo.com/weikisa/19f4b025/2e1a444b.png" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------上一页、下一页--------------------->
                <div th:if="${page.totalPages}>1" class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a th:href="@{/(page=${page.number}-1)}" th:if="!${page.isFirst()}" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a th:href="@{/(page=${page.number}+1)}" th:if="!${page.isLast()}" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-----右边top----->
            <div class="three wide column">
                <!--分类-->
                <div class="ui raised segments m-margin">
                    <div class="ui segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="fa fa-leaf fa-lg m-margin-right-small"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/types/-1}" target="_blank">more <i class="mini angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui orange segment">
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui orange basic left pointing label" th:text="${#arrays.length(type.blogs)}">66</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui raised segments m-margin">
                    <div class="ui segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="fa fa-tags fa-lg m-margin-right-small"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/tags/-1}" target="_blank">more <i class="mini angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">计算机</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">6</div>
                        </a>
                    </div>
                </div>
                <!--本站记录-->
                <div class="ui raised segments m-margin">
                    <div class="ui segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="fa fa-fire fa-lg m-margin-right-small"></i>本站信息
                            </div>
                        </div>
                    </div>
                    <div class="ui blue segment">
                        <div class="menu">
                            <div class="item m-padded-tb"><i class="folder outline icon"></i>文章总数: <span th:text="${page.totalElements}">1</span>篇</div>
                            <div class="item m-padded-tb"><i class="bookmark outline icon"></i>分类总数: <span th:text="${#arrays.length(AllTypes)}">1</span>个</div>
                            <div class="item m-padded-tb"><i class="moon outline icon"></i>标签总数: <span th:text="${#arrays.length(AllTags)}">1</span>个</div>
                            <div class="item m-padded-tb"><i class="comments outline icon"></i>评论总数: <span>0</span>条</div>
                            <div class="item m-padded-tb"><i class="spinner icon"></i>建站时长: <span id="recordTime">0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------底部footer----------待添加-------------------->

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-show')
    });
    $('#wechatButton').popup({
        popup: $('.wechatQR.popup'),
        on: 'hover',
        position: 'bottom center'
    });
    $('#qqButton').popup({
        popup: $('.qqQR.popup'),
        on: 'hover',
        position: 'bottom center'
    });

    function time(){
        var nowTime =new Date();
        var startTime=new Date(2020,2,11,22,56,0);
        var xc=(nowTime.getTime()-startTime.getTime())/1000;
        var day=parseInt(xc/86400);
        xc-=day*86400;
        var hour=parseInt(xc/3600);
        xc-=hour*3600;
        var min=parseInt(xc/60);
        var sec=parseInt(xc-min*60);
        hour=guolv(hour);
        min=guolv(min);
        sec=guolv(sec);
        var str=day+'天'+hour+'小时'+min+'分'+sec;
        $("#recordTime").html(str);
    }
    setInterval(time,1000);
</script>
</body>
</html>