<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{:: title})">
    <title>搜索结果</title>
</head>
<body>
<!------------------------------导航---------------------------------------->
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!------------------------------------中间部分---------------- ---------------->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <!----------------header----------------------->
        <div class="ui teal top segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header" th:text="|搜索结果：${query}|"></h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">6</h2> 篇
                </div>
            </div>
        </div>
        <!--------------中间内容----------------->
        <div id="search-page" class="ui raised segment m-margin-button" th:each="blog : ${page.content}">
            <div class="ui mobile reversed stackable grid">
                <!---文章展示--->
                <div class="ui eleven wide column">
                    <h3 class="ui header m-padded-top"><a href="#" target="_blank" class="m-black" th:href="@{blog/{id}(id=${blog.id})}" th:text="${blog.title}"></a></h3>
                    <p class="m-text mini" th:text="|${blog.description}......|" style="font-size: 15px; font-weight: 500 !important;letter-spacing: 1px !important;line-height: 2.5;"></p>
                    <div class="ui divider "></div>
                    <div class="ui stackable grid">
                        <!--作者、时间、浏览次数-->
                        <div class="eight wide column">
                            <div class="ui small horizontal link list">
                                <div class="item">
                                    <img th:src="@{${blog.user.avatar}}" src="https://picsum.photos/seed/picsum/100/100" alt="" class="ui avatar image">
                                    <div class="content">
                                        <h5 class="ui header m-opacity-mini" th:text="${blog.user.nickname}">LYQ</h5>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2019-12-23</span>
                                </div>
                                <div class="item">
                                    <i class="fa fa-eye"></i>
                                    <span th:text="${blog.views}">6666</span>
                                </div>
                            </div>
                        </div>
                        <!--分类-->
                        <div class="left aligned three wide column">
                            <a th:href="@{/types/{id}(id=${blog.type.id})}" target="_blank" class="ui orange basic label m-text-thin" th:text="${blog.type.name}">数据结构</a>
                        </div>
                        <!--标签-->
                        <div class="right aligned five wide column" th:each="tag : ${blog.tags}">
                            <a th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal left pointing basic label m-text-thin" th:text="${tag.name}">数据结构</a>
                        </div>
                    </div>
                </div>
                <!---图片--->
                <div class="ui five wide column">
                    <a href="#" th:href="@{blog/{id}(id=${blog.id})}" target="_blank" class="top">
                        <img th:src="@{${blog.firstPicture}}" src="http://pic.yupoo.com/weikisa/19f4b025/2e1a444b.png" alt="" class="ui rounded image">
                    </a>
                </div>
            </div>
        </div>
        <!-------------page checkout------------>
        <div th:if="${page.totalPages}>1" class="ui bottom attached segment">
            <div id="search-submit" class="ui middle aligned two column grid">
<!--                <input type="hidden" name="query" th:value="${query}">-->
                <div class="column">
                    <button type="submit" onclick="search()" th:if="!${page.isFirst()}" class="ui mini teal basic button">上一页</button>
                </div>
                <div class="right aligned column">
                    <button type="submit" onclick="search()" th:if="!${page.isLast()}" class="ui mini teal basic button">下一页</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------底部footer-------------------------------------->

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
   function search() {
        // $("#search-page").load(/*[[@{/comments}]]*/"", {
        //     "parentComment.id": $("[name='parentComment.id']").val(),
        //     "blog.id": $("[name='blog.id']").val(),
        //     "nickname": $("[name='nickname']").val(),
        //     "email": $("[name='email']").val(),
        //     "content": $("[name='content']").val()
        // });
    }
</script>
</body>
</html>